*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
main,
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #FFFFFF;
  position: relative;
}
ul[class],
ol[class] {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AlteHaasGrotesk";
  src: url("../fonts/alte_haas_grotesk/AlteHaasGroteskBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Univers";
  src: url("../fonts/Univers/UniversLTStd-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Univers";
  src: url("../fonts/Univers/UniversLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header-main {
  min-height: 89px;
  opacity: 0.9;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header-main .container {
  padding: 5px;
}
.header-main .container .header-nav__block {
  width: 100%;
}
.header-main .container .header-nav__block .main-menu .main-menu__items {
  padding: 0 10px;
}
.header-main .container .header-nav__block .main-menu .main-menu__items a {
  font-family: 'Segoe UI';
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  color: #454545;
  opacity: 0.74;
  transition: all 0.3s ease-in-out;
}
.header-main .container .header-nav__block .main-menu .main-menu__items a:hover {
  color: #de6d6e;
}
.header-main .container .header-nav__block .main-menu .main-menu__login {
  padding: 5px 0 0 20px;
}
.header-main .container .header-nav__block .main-menu .main-menu__login .main-menu__login-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 87px;
  height: 27px;
  background-color: #de6d6e;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.header-main .container .header-nav__block .main-menu .main-menu__login .main-menu__login-button span {
  font-family: 'Segoe UI';
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}
.header-main .container .header-nav__block .main-menu .main-menu__login .main-menu__login-button:hover {
  background-color: #792d2f;
}
@media screen and (max-width: 992px) {
  .header-main .container .header-nav__block .main-menu .main-menu__login {
    padding: 5px 0 8px 8px;
    z-index: 5;
  }
}
.top-section .top-section__content img {
  width: 100vw;
}
.top-section .top-section__content .content {
  position: relative;
}
.top-section .top-section__content .content .top-section__content-txt {
  position: absolute;
  bottom: calc(100 * (100vw/1920));
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-section .top-section__content .content .top-section__content-txt h1 {
  font-family: 'AlteHaasGrotesk';
  font-size: calc(90 * (100vw/1920));
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.21);
  color: #ffffff;
}
.top-section .top-section__content .content .top-section__content-txt p {
  font-family: Univers;
  font-size: calc(30 * (100vw/1920));
  line-height: 1.2;
  font-weight: 300;
  font-style: normal;
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.21);
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  .top-section .top-section__content .content .top-section__content-txt h1 {
    font-size: calc(90 * (100vw/1920));
  }
  .top-section .top-section__content .content .top-section__content-txt p {
    font-size: calc(40 * (100vw/1920));
  }
}
.center-section .container .center-section__txt {
  margin: calc(40 * (100vw/1920)) auto;
  text-align: center;
}
.center-section .container .center-section__txt .center-section__txt-title {
  font-family: Univers;
  font-size: calc(60 * (100vw/1920));
  line-height: 1.2;
  font-weight: 300;
  color: #404040;
  font-style: normal;
}
.center-section .container .center-section__txt p {
  font-family: Univers;
  font-size: calc(25 * (100vw/1920));
  line-height: 1.2;
  font-weight: 300;
  color: #636363;
  padding: 1em;
}
.center-section .container .center-section__links-img {
  width: 40%;
  height: 40%;
  margin: auto;
}
.center-section .container .center-section__links-img img {
  width: 100%;
  padding-bottom: 5px;
}
.center-section .container .center-section__links-img p {
  font-family: Univers;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
.center-section .container .center-section__links-item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 179px;
  height: 179px;
  background-color: #4eb9f4;
  border-radius: 50%;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}
.center-section .container .center-section__links-item1:hover {
  background-color: #3485b1;
}
.center-section .center-section__links-item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 179px;
  height: 179px;
  background-color: #6fc125;
  border-radius: 50%;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}
.center-section .center-section__links-item2:hover {
  background-color: #589c1c;
}
.center-section .center-section__links-item3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 179px;
  height: 179px;
  background-color: #ff5649;
  border-radius: 50%;
  position: relative;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}
.center-section .center-section__links-item3:hover {
  background-color: #c23e35;
}
.center-section .center-section__links-item3 span {
  font-family: Univers;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  position: absolute;
  width: 60%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.center-section .center-section__links-item4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 179px;
  height: 179px;
  background-color: #e48f23;
  border-radius: 50%;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}
.center-section .center-section__links-item4:hover {
  background-color: #b4721c;
}
.bottom-section .container .bottom-section__card {
  padding-left: 8%;
  margin: 5em 0 5em 0;
}
@media screen and (max-width: 992px) {
  .bottom-section .container .bottom-section__card {
    max-width: 992px;
    margin: 1em 0 1em 0;
  }
}
.bottom-section .container .bottom-section__card .bottom-section__card-img {
  min-width: 15vw;
}
.bottom-section .container .bottom-section__card .bottom-section__card-img img {
  width: 100%;
}
.bottom-section .container .bottom-section__card .bottom-section__card-txt {
  padding-left: 3%;
}
.bottom-section .container .bottom-section__card .bottom-section__card-txt .bottom-section__card-title {
  font-family: Univers;
  font-size: calc(50 * (100vw/1920));
  line-height: 1.2;
  font-weight: 300;
  color: #404040;
}
.bottom-section .container .bottom-section__card .bottom-section__card-txt p {
  font-family: Univers;
  font-size: calc(25 * (100vw/1920));
  line-height: 1;
  font-weight: 300;
  color: #8b8b8b;
}
.footer-block {
  background-color: #23272A;
}
.footer-block .container .footer-block__nav {
  width: 100%;
  padding: 35px 0;
}
.footer-block .container .footer-block__nav:first-child {
  padding-left: 7%;
}
.footer-block .container .footer-block__nav .footer-block__nav-item .footer-block__nav-title .span {
  font-family: Univers;
  font-size: calc(50 * (100vw/1920));
  line-height: 22px;
  font-weight: 300;
  color: #aeaeae;
  padding-bottom: 1em;
}
.footer-block .container .footer-block__nav .footer-block__nav-item .footer-block__nav-title .footer-block__nav-items a {
  font-family: Univers;
  font-size: calc(50 * (100vw/1920));
  line-height: 22px;
  font-weight: 300;
  color: #8b8b8b;
}
.footer-block .container .footer-block__nav:last-child .footer-block__nav-title .span {
  min-width: 20%;
  font-family: Univers;
  font-size: 21px;
  line-height: 22px;
  font-weight: 300;
  color: #aeaeae;
  padding-bottom: 1em;
}
.footer-block .container .footer-block__nav:last-child .footer-block__nav-title .footer-block__nav-items a {
  font-family: Univers;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  color: #8b8b8b;
  transition: all 0.3s ease-in-out;
}
.footer-block .container .footer-block__nav:last-child .footer-block__nav-title .footer-block__nav-items a:hover {
  color: #aeaeae;
}
.footer-block .container .footer-block__nav:last-child .footer-block__social .footer-block__social-img {
  padding-top: 2em;
}
.footer-block .container .footer-block__nav:last-child .footer-block__social .footer-block__social-img .footer-block__social-img-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #696b6a;
  transition: opacity 0.3s ease-in-out;
}
.footer-block .container .footer-block__nav:last-child .footer-block__social .footer-block__social-img .footer-block__social-img-item img {
  max-width: 60%;
  min-height: 60%;
}
.footer-block .container .footer-block__nav:last-child .footer-block__social .footer-block__social-img .footer-block__social-img-item:hover {
  opacity: 0.7;
}
.footer-block .container .footer-block__nav:last-child .footer-block__social .footer-block__rights {
  font-family: Univers;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  color: #8b8b8b;
  padding-top: 2em;
}
